<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a th:href="@{/}">Home</a>
				</li>
				<li>
					<a th:href="@{/addproject}">Criar Projeto</a>
				</li>
				<li>
					<a th:href="@{/addemployee}">Adicionar Empregado</a>
				</li>
				<li>
					<a th:href="@{/addtask}">Adicionar Tarefa</a>
				</li>
				<li>
					<a th:href="@{/addprojects}">Gerenciar Projeto</a>
				</li>
				<li>
					<a th:href="@{/addemployees}">Gerenciar Empregados</a>
				</li>
				<li>
					<a th:href="@{/addtasks}">Gerenciar Tarefas</a>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>