<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sucesso</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:text="'nome do projeto : ' + ${proj.nm_project} "></div>
   	<div th:text="'descrição : ' + ${proj.ds_project} "></div>
   	<div th:text="'data de inicio : ' + ${proj.dt_start} "></div>
   	<div th:text="'data de termino : ' + ${proj.dt_end} "></div>
   	<a th:href="@{/addproject}">Voltar</a>
</body>
</html>